/* This file is for your main application css. */

td {
    border: 2px solid gray;
    min-width: 100px; /* I hate css */
    height: 100px;
    color: green;
}

.tile.straight {
    background: url(/images/straight.png);
}

.tile.curved{
    background: url(/images/curved.png);
}

.rotateR0 {
}

.rotateR1 {
    transform: rotate(90deg);
}

.rotateR2 {
    transform: rotate(180deg);
}

.rotateR3 {
    transform: rotate(270deg);
}
